body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212529;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #343a40;
  color: #ffffff;
}

.custom-file-label::after {
  content: "Browse";
}

button {
  width: 100%;
}
